# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Playwright
playwright-report/
test-results/

# Screenshots (אם תוסיף בהמשך)
screenshots/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db